!!!
%html{html_attrs(I18n.locale)}
  %head
    %meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
    %meta(http-equiv='Content-Script-Type' content='text/javascript')
    - if protect_against_forgery?
      %meta(name='authenticity_token' content=form_authenticity_token)
    %title Keller Solutions Recipe Grabber
    = stylesheet_link_tag 'main'
  %body
    #header
      %h1 Keller Solutions Recipe Grabber
      %p
        = link_to 'Home', '/'
    #flash
      - flash.each do |name, msg|
        %div(class=name)= msg
    #content
      - @recipes.each do |recipe|
        %img{:src => recipe[:image].sub("-l.jpg", "-m.jpg"), :style => 'border: 2px solid black;'}
        %h2= recipe[:title]
        %p= recipe[:head_note]
        %p
          %strong Yield:
          = recipe[:yield].blank? ? 'N/A' : recipe[:yield]
        %p
          %strong Prep Time:
          = recipe[:prep_time].blank? ? 'N/A' : recipe[:prep_time]
          %br
          %strong Cook Time:
          = recipe[:cook_time].blank? ? 'N/A' : recipe[:cook_time]
          %br
          %strong Total Time:
          = recipe[:total_time].blank? ? 'N/A' : recipe[:total_time]
        %h3 Ingredients
        %ul
          - recipe[:ingredients].each do |ingredient|
            %li= ingredient.search("text()").to_s.gsub(/\s+/, ' ').strip
        %h3 Directions
        - recipe[:steps].each do |step|
          %p= step.search("text()").to_s.gsub(/\s+/, ' ').strip
        %h3 Nutritional Analysis
        %p
          - if recipe[:nutritional_analysis].empty?
            N/A
          - recipe[:nutritional_analysis].each do |nutrient|
            = nutrient.search("text()").to_s.gsub(/\s+/, ' ').strip
            %br
        %p
          %strong Author:
          = recipe[:author].blank? ? 'N/A' : recipe[:author]
          %br
          %strong Publication:
          = recipe[:publication].blank? ? 'N/A' : recipe[:publication]
          %br
          %strong Published:
          = recipe[:published].blank? ? 'N/A' : recipe[:published]
        - unless recipe == @recipes.last
          %hr
    #footer
      == &copy; #{Date.today.year}, Keller Solutions
