!!!
%html{html_attrs(I18n.locale)}
  %head
    %meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
    %meta(http-equiv='Content-Script-Type' content='text/javascript')
    - if protect_against_forgery?
      %meta(name='authenticity_token' content=form_authenticity_token)
    %title Keller Solutions Recipe Grabber
    = stylesheet_link_tag 'main'
  %body
    #header
      %h1 Keller Solutions Recipe Grabber
      %p
        = link_to 'Home', '/'
    #flash
      - flash.each do |name, msg|
        %div(class=name)= msg
    #content
      %h2= @title
      %img{:src => @image, :style => 'float: right; margin-left: 20px; border: 2px solid black;'}
      %p= @head_note
      - unless @yield.blank?
        %p
          %strong Yield:
          = @yield
      - unless @author.blank?
        %p
          %strong Author:
          = @author
      - unless @publication.blank?
        %p
          %strong Publication:
          = @publication
      - unless @published.blank?
        %p
          %strong Published:
          = @published
      - unless @prep_time.blank?
        %p
          %strong Prep Time:
          = @prep_time
      - unless @cook_time.blank?
        %p
          %strong Cook Time:
          = @cook_time
      - unless @total_time.blank?
        %p
          %strong Total Time:
          = @total_time
      %h3 Ingredients
      %ul
        - @ingredients.each do |ingredient|
          %li= ingredient.search("text()").to_s.gsub(/\s+/, ' ').strip
      %h3 Directions
      - @steps.each do |step|
        %p= step.search("text()").to_s.gsub(/\s+/, ' ').strip
      %h3 Nutritional Analysis
      %p
        - @nutritional_analysis.each do |nutrient|
          = nutrient.search("text()").to_s.gsub(/\s+/, ' ').strip
          %br
    #footer
      == &copy; #{Date.today.year}, Keller Solutions
